.materials {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.materials__navbar {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.materials__btn {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid;
}
.materials__main {
    height: 100%;
    align-self: center;
}