.wrapper {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--btn-text);
}
.link {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}
.link:hover {
    opacity: 0.8;
}
.active {
    font-weight: 700;
    opacity: 0.8
}