.signin {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.signin__register {
    font-weight: normal;
}
.signin__register a {
    font-weight: normal;
    color: blue;
}